In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Placement_Data_Full_Class.csv")

In [3]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1.0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2.0,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3.0,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4.0,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5.0,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,211.0,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
213,212.0,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
214,213.0,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
215,214.0,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
216,215.0,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [4]:
# is a great way to get a quick count of null values in each column of a DataFrame.
dataset.isnull().sum()

sl_no              2
gender             2
ssc_p              2
ssc_b              2
hsc_p              2
hsc_b              2
hsc_s              2
degree_p           2
degree_t           2
workex             2
etest_p            2
specialisation     2
mba_p              2
status             2
salary            69
dtype: int64

#1)Replace the NaN values with correct value. And justify why you have chosen the same.

In [5]:
#Rmove extra empyt rows
#In this code:
#- axis=1 specifies that we're working with columns
#- axis=0 specifies that we're working with rows
#- how='all' means that only columns or rows with all missing values (i.e., empty columns or rows) will be removed

#- axis=1 என்பது நெடுவரிசைகளுடன் நாங்கள் வேலை செய்கிறோம் என்பதைக் குறிப்பிடுகிறது
#- axis=0 என்பது நாம் வரிசைகளுடன் வேலை செய்கிறோம் என்பதைக் குறிப்பிடுகிறது
#- எப்படி='அனைத்து' என்றால், அனைத்து விடுபட்ட மதிப்புகள் 
#(அதாவது வெற்று நெடுவரிசைகள் அல்லது வரிசைகள்) கொண்ட நெடுவரிசைகள் அல்லது வரிசைகள் மட்டுமே அகற்றப்படும்.

dataset=dataset.dropna(axis=0, how='all').dropna(axis=1, how='all')
dataset.isnull().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [6]:
#df: the original DataFrame
#df: அசல் DataFrame
#fillna(): the method to replace NaN values
#fillna(): NaN மதிப்புகளை மாற்றுவதற்கான முறை
#inplace=True, you're telling pandas to modify the original DataFrame df directly, rather than returning a new DataFrame with the replaced values.
#inplace=True ஐ அமைப்பதன் மூலம், மாற்றப்பட்ட மதிப்புகளுடன் புதிய DataFrame ஐத் திருப்பித் தராமல், அசல் DataFrame df ஐ நேரடியாக மாற்றுமாறு பாண்டாக்களிடம் கூறுகிறீர்கள்.
dataset["salary"].fillna(0,inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_8812\3941721443.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["salary"].fillna(0,inplace=True)

In [7]:
dataset.isnull().sum()

sl_no             0
gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64

2)How many of them are not placed?

In [8]:
dataset['status']

0          Placed
1          Placed
2          Placed
3      Not Placed
4          Placed
          ...
212        Placed
213        Placed
214        Placed
215        Placed
216    Not Placed
Name: status, Length: 215, dtype: object

In [9]:
#Count the number of rows where "status" is not "Placed"
Not_Placed_count=(dataset['status']=='Not Placed').sum()
print(Not_Placed_count)

67

#3)Find the reason for non placement from the dataset?

In [12]:
Not_Placed_count,dataset.describe()

(np.int64(67),
             sl_no       ssc_p       hsc_p    degree_p     etest_p       mba_p  \
 count  215.000000  215.000000  215.000000  215.000000  215.000000  215.000000
 mean   108.000000   67.303395   66.333163   66.370186   72.100558   62.278186
 std     62.209324   10.827205   10.897509    7.358743   13.275956    5.833385
 min      1.000000   40.890000   37.000000   50.000000   50.000000   51.210000
 25%     54.500000   60.600000   60.900000   61.000000   60.000000   57.945000
 50%    108.000000   67.000000   65.000000   66.000000   71.000000   62.000000
 75%    161.500000   75.700000   73.000000   72.000000   83.500000   66.255000
 max    215.000000   89.400000   97.700000   91.000000   98.000000   77.890000

               salary
 count     215.000000
 mean   198702.325581
 std    154780.926716
 min         0.000000
 25%         0.000000
 50%    240000.000000
 75%    282500.000000
 max    940000.000000  )

AttributeError: 'DataFrame' object has no attribute 'colunms'